public/hot
public/storage
public/js/app.js
public/css/app.js
public/mix-manifest.json
storage/*.key
node_modules/
vendor/
.env*
.phpunit.result.cache
Homestead.json
Homestead.yaml
package-lock.json
composer.lock
yarn.lock
